<div class="profile">
    <div class="profile-image" >
        <% if (theme.profile.image) {%>
            <img class="actual_image" src="<%= url_for(theme.profile.image)%>" alt="featured_image" >
        <% } %>  
    </div>
    <div class="post-content profile-content">
        <div class="profile-title">
            <%=theme.profile.title%>
        </div>
        <div class="profile-body">
            I'm currently studying Aerospace and Physics Engineering at CFIS - UPC (Barcelona). 
            Beyond my science-oriented academic path, I'm passionate about programming and developing. Here I will share my personal projects and experiments. 
            Check out my <a href="/categories/projects/">projects</a> or learn more <a href="/about/">about me</a>.
        </div>
        

    </div>    
</div>

<div class="post-content">
    <h3>Featured articles</h3>
    <div class="post-list">
    <div class="post-list-item">
        <div class="post-title">
            <a href="/2025/ANSYS-CFD-Applications-in-Rocket-Nozzle-Design-and-Performance-Analysis//">
                Applying ANSYS Fluent in Rocket Nozzle Performance Analysis
            </a>
            <div class="post-description">
                Discover how ANSYS Fluent and Computational Fluid Dynamics (CFD) are used to optimize rocket nozzle design, analyze supersonic flows, and compare geometries for maximum efficiency and thrust. Learn step-by-step modeling, meshing, simulation, and interpretation of results in aerospace engineering.
            </div>
        </div>
    </div>
    <div class="post-list-item">
        <div class="post-title">
            <a href="/2025/Lyapunov-Orbits-around-Lagrange-Points-Theory-Simulation-and-MATLAB-Implementation/">
                Lyapunov Orbits around Lagrange Points - MATLAB Simulation
            </a>
            <div class="post-description">
                Explore how Lyapunov orbits around Lagrange points work and learn how to simulate them in MATLAB. A blend of theory, orbital dynamics, and practical coding for space exploration.
            </div>
        </div>
    </div>
    <div class="post-list-item">
        <div class="post-title">
            <a href="/archives/">
                Read more articles...
            </a>
    </div>
    </div>

    



    <h3>Links</h3>
    <% Object.keys(theme.profile.links).forEach(key=> { %>
            <div class="profile-link">
                <a href="<%= url_for(theme.profile.links[key])%>">
                    <%=key%>
                </a>
            </div>
            <% }); %>

</div>